/* Default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffc0cb;
}

/* Result Popup */
#result-popup {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

/* Styling for the main container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for each container item */
.container-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: transform 0.3s ease, box-shadow 0.3 ease;
    -moz-transition: transform 0.3s ease, box-shadow 0.3 ease;
    -ms-transition: transform 0.3s ease, box-shadow 0.3 ease;
    -o-transition: transform 0.3s ease, box-shadow 0.3 ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hover effect for container items */
.container-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Styling for the form section */
.container-form {
    margin-top: 20px;
    text-align: left;
}

#result-form {
     margin-top: 20px;
}
/* Styling for form labels and inputs */
.re-fix {
    margin-bottom: 20px;
}

.form-item {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

/* Styling for input focus */
.form-item:focus {
    outline: none;
    border-color: #4CAF50;
}

/* style radio */
input[type = "radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ffc0cb;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
    outline: none;
}

input[type = "radio"]:checked {
    background-color: #ffc0cb;
}
/* Styling for buttons */
button {
    background-color: #777;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, color 0,3 ease;
    border-radius: 4px;
    align-items: center;
    -webkit-transition: background-color 0.3s ease, color 0,3 ease;
    -moz-transition: background-color 0.3s ease, color 0,3 ease;
    -ms-transition: background-color 0.3s ease, color 0,3 ease;
    -o-transition: background-color 0.3s ease, color 0,3 ease;
}

/* Hover effect for buttons */
button:hover {
    background-color: #555;
    color: #fff;
}

/* Styling for the result container */
.container-result {
    text-align: center;
}

/* Styling for the result section */
.container-result h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Styling for the footer */
footer {
    background-color: #ffc0cb;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    .container-item {
        padding: 15px;
    }
    .form-item {
        padding: 15px;
    }
    button {
        padding: 10px 15px;
    }
}